* {
    box-sizing: border-box; 
}

.container {
    width: 960px;
    margin: 0 auto; 
}

header {
    background-image: url("../images/header-bg.jpg");
    border: 1px solid black;
    padding: 0; 
    border-radius: 5px; 
}

h1 {
    font-family: 'Vibes', cursive;
    font-size: 3rem;
    text-align: left; 
    padding: 1rem 0 0 0 ; 
}

h2 {
    font-size: 1.5rem; 
}

main {
    border-radius: 10px; 
    /* border: 1px solid black;  */
}

.start {
    background-image: url("../images/start-bg.jpg");
    border: 1px solid black;
    font-family: 'Vibes', cursive;
    border-radius: 10px; 
    font-weight: 900;
    font-size: 5rem; 
    text-shadow: 3px 3px black;
    padding: 0 0 20rem 0; 
    height: 360px;
    width: 960px; 
    color: white; 
    display: inline-block; 
}

.start:hover {
    background-image: url("");
    background-color: black;
    border: 2px solid grey; 
    padding: 0 0 20rem 0; 
    /* height: 100%; */
}

button {
    font-size: 2rem;
    display: block;
    margin: 0 auto;
    cursor: pointer; 
}

.choices {
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem; 
    width: 100%; 
    background-color: #F2F2F2;
    border: 1px solid black;
    border-radius: 5px;
    color: black; 
}

.choices:hover {
    border: 3px solid #4C594F;
    /* outline-offset: -2px;  */
    background-image: url("../images/choice-hover.jpg");
    color: black;
    font-weight: bold;
    font-shadow: 1px 1px black;
    border-radius: 5px;
}

.choices:active {
    outline:3px solid #4BD4F2;
    color: #4BD4F2;
    
}

.questions {
    display: none;
}

.timer {
    background-image: url("../images/timer-bg.jpg");
    border-radius: 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    padding: .5rem .5rem 0 0; 
    text-align: right;
    color: #4C594F; 
    border: 1px solid black;
    text-shadow: 1px 1px 1px #BFBFB8;
}

.dom-question,
.notification {
    font-family: 'Assistant', sans-serif;
    font-size: 1.6rem;
    font-weight: bold; 
    line-height: 1.8rem; 
    padding: .5rem .5rem .8rem .5rem; 
    text-align: center; 
}

#reveal {
    background-image: url("../images/choice-hover.jpg");
    border: 1px solid #4C594F;
    border-radius: 5px; 
    display:inline-block; 
}

#reveal-intro {
    background-color: #BBBF34;
    color: black;
    border: 1px solid black; 
    border-radius: 5px; 
    display:inline-block; 
}

.metrics {
    background-image: url("../images/metrics-bg.jpg");
    font-family: 'Assistant', sans-serif;
    font-size: 1.6rem;
}

/* ----
font-family: 'Vibes', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Assistant', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Hind Madurai', sans-serif;
---- */

/* Color Theme Swatches in Hex */
.nature-background-with-moody-vintage-forest-1-hex { color: #35403A; }
.nature-background-with-moody-vintage-forest-2-hex { color: #252626; }
.nature-background-with-moody-vintage-forest-3-hex { color: #4C594F; }
.nature-background-with-moody-vintage-forest-4-hex { color: #A4A69C; }
.nature-background-with-moody-vintage-forest-5-hex { color: #BFBFB8; }

